<p style="color: green"><%= notice %></p>

<h1>ユーザー一覧</h1>

<div id="users">
  <% @users.each do |user| %>
    <tr>
    <td><% user.name %></td>
    <td><% user.age %></td>
    </tr>
    <%= render user %>
    <p>
      <%= link_to "詳細", user %>
    </p>
  <% end %>
</div>

<%= link_to "新規作成", new_user_path %>
